version: '3'

services:
  web:
    container_name: nplusone-web
    build:
      context: .
      args:
        NEXT_PUBLIC_SUPABASE_URL: ${NEXT_PUBLIC_SUPABASE_URL}
        NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY: ${NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY}
    restart: always
    ports:
      - "80:3000"
    environment:
      - NODE_ENV=production
